body{
    background-image: url('spotl.jpeg');
    background-color: black;
}
.app{
    color:white;
}
.b{
    color:white;
    text-align: center;
}
nav ul li{
    color:white;
    list-style-type:none;
}

nav ul{
    float:right;
    margin:0;
    padding:0;
    color:white;
}
nav li{
    color:white;
    float:left;
    margin-left:70;
    margin-right:70px;
    margin-top: 10px;
    
}
img{
    border-color: white;
    width:40px;
    height:40px;
    float:left;
    margin-left:500px;
    border-style:solid;
    vertical-align:middle;
    margin-right: 10px;

}
.b{
    float:left;
    text-align:center;
    color:white;
}